<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <!--Estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">

    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="top">
            <img class="top__logo" src="/img/logo-mercado-liebre.jpg" alt="logo-mercado-liebre">
            <p><input type="text" placeholder="Search..."><i class="fa-solid fa-magnifying-glass"></i></p>
        </div>
        <div class="search-bar">
            <input class="find" type="text" placeholder="Buscar productos, marcas y mas">
            <div class="magnifying-glass">
                <i class="fas fa-search"> </i>
            </div>
        </div>

        <div class="div-message">
            <p class="message"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito
            </p>
            <nav class="nav-bar">
            </nav>
            <ul>
                <li><a href="/Offers">Ofertas</a></li>
                <li><a href="/official stores">Tiendas Oficiales</a></li>
                <li><a href="/sell">Vender</a></li>
                <li><a href="/help">Ayuda</a></li>
            </ul>    
        </div>

        <nav class="nav-bottom">
            <ul>
                <li><a href="/register">Creá tu Cuenta</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/myCart">Mis Compras</a></li>
        </nav>

        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
        <div>
            <img class="banner__img" src="/img/img-home-banner.jpg" alt="Banner de Ofertas">
        </div>

    </header>

    <main>
        <div class="register-container">
            <form action="/register" method="POST">
                <input type="text" name="Nombre" placeholder="Nombre y Apellido">
                <input type="text" name="usuario" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <h5>Fecha de Nacimiento</h5>
                <input type="date" id="fechanac" name="fechanacimiento">
                <input type="text" name="domicilio" placeholder="domicilio">
                <h5>Perfil del Usuario</h5>
                <div class="contenedor-radio">
                    <label for="Comprador">Comprador</label>
                    <input type="radio" name="perfil-de-usuario" id="Comprador">
                    <label for="Comprador">Vendedor</label>
                    <input type="radio" name="perfil-de-usuario" value="Vendedor">
                </div>
                <h5>Intereses</h5>
                <div class="contenedor-checkbox">
                    <label for="Electro"><input type="checkbox" name="hobbies" value="Electro"> Electro</label>
                    <label for="Moda"><input type="checkbox" name="hobbies" value="Moda">Moda</label>
                    <label for="Hogar"><input type="checkbox" name="hobbies" value="Hogar">Hogar</label>
                    <label for="Jugueteria"><input type="checkbox" name="hobbies" value="Jugueteria">Jugueteria</label>
                    <label for="Vida Sana"><input type="checkbox" name="hobbies" value="Vida Sana">Vida Sana</label>

                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="align">
                <ul type="none">
                    <i class="fas fa-credit-card iconfooter"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                        ¡Y siempre es seguro!</p>
                </ul>
            </div>

            <div class="align">
                <ul type="none">
                    <i class="fas fa-gift iconfooter"></i>
                    <h4 class="align">Envío gratis desde los $ 2.500</h4>
                    <p class="align">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles
                        de productos. Es un beneficio de MercadoPuntos.</p>
                </ul>
            </div>

            <div class="align">
                <ul type="none">
                    <i class="fas fa-user-shield iconfooter"></i>
                    <h4 class="align">Seguridad, de principio a fin</h4>
                    <p class="align">¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas
                        hacer, porque estás siempre protegid@.</p>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <ul>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </ul>
        </div>
    </footer>
</body>

</html>